/* All screens */
.btn:hover {
  background-color: rgb(59, 59, 59);
}

#restricted-content--inactive {
  cursor: not-allowed;
  color: rgb(85, 85, 85);
}

/* On screens that are 993px or more */
.btn {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 26px;
  word-spacing: 30px;
  padding: 25px 23px;
  margin: 20px auto;
  border-radius: 5px;
}

#signin {
  margin: 5px 0px 0px 0px;
  padding: 25px 23px !important;
  cursor: pointer;
}

#separator {
  height: 40%;
}

#divider {
  height: 1%;
  border-bottom: 1px solid grey;
}

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
  .btn {
    display: block;
    text-decoration: none;
    color: white;
    word-spacing: 25px;
    font-size: 27px;
    line-height: 0px;
    letter-spacing: 0.03em;
    font-weight: 100;
    padding: 30px 0px 30px 10px;
    margin: px auto;
    border-radius: 5px;
  }

  #separator {
    height: 54%;
  }

  #divider {
    height: 1%;
    border-bottom: 1px solid grey;
  }

  #signin {
    margin: 0px 0px 0% 0px;
  }
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  .btn {
    display: block;
    text-decoration: none;
    color: white;
    word-spacing: 25px;
    font-size: 27px;
    line-height: 0px;
    letter-spacing: 0.03em;
    font-weight: 100;
    padding: 26px 28px;
    margin: 20px auto;
    border-radius: 5px;
  }

  #separator {
    height: 28%;
  }

  #divider {
    height: 1%;
    border-bottom: 1px solid grey;
  }

  #signin {
    margin: 0px !important;
  }
}
