.btn {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 25px;
  word-spacing: 30px;
  padding: 25px 23px;
  margin: 20px auto;
  border-radius: 5px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(59, 59, 59);
}

#signin {
  cursor: pointer;
  margin-top: 40vh !important;
  margin-bottom: 0vh !important;
}

#restricted-content--inactive {
  cursor: not-allowed;
  color: rgb(85, 85, 85);
}

.position-absolute {
  position: absolute;
}
