.showcase {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding-top: 100px;
  /* border: 2px solid white; */
  color: white;
  background-color: rgb(17, 17, 17);
}

.stack {
  margin: 3rem 0px 0px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 100px;
  max-width: 800px;
}

#image {
  margin-bottom: 20px;
}

#heading {
  font-family: Bigilla, serif !important;
  font-weight: 700;
  font-size: 3.9rem;
  line-height: 1.33;
  text-align: center;
  text-transform: capitalize;
  margin: 0px;
}

#subheading {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 2;
  opacity: 0.9;
  text-align: center;
}

.content {
  text-align: center;
  line-height: 2;
  font-size: 19px;
  word-wrap: break-word;
  font-family: 'Inter', sans-serif;
}

#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#footer > a {
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  font-family: 'Inter', sans-serif;
}
#footer > p {
  padding-left: 8px;
  font-size: 0.8rem;
  font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 992px) {
  .stack {
    margin: 1.5rem 0px 0px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 100px;
  }

  #heading {
    font-size: 3.9rem;
  }

  #subheading {
    font-size: 22px;
    line-height: 2;
  }

  .content {
    line-height: 2;
    font-size: 20px;
  }

  #footer > a {
    font-size: 0.9rem;
  }

  #footer > p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  #heading {
    font-size: 3rem;
    line-height: 1.33;
  }

  #subheading {
    font-size: 18px;
    line-height: 1.625;
  }

  .content {
    line-height: 1.625;
    font-size: 18px;
  }

  #footer > a {
    font-size: 0.875rem;
    font-weight: 500;
  }
  #footer > p {
    font-size: 0.75rem;
  }
}
