/* All screens */
.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.videoContainer video {
  width: 100%;
  height: 100%;
  object-fit: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.videoContainer:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}

/* On screens that are 993px or more */
.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  color: white;
  overflow: hidden;
}

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
  .videoContainer video {
    object-fit: cover;
    position: absolute;
  }

  .showcase {
    overflow: hidden !important;
  }
}
