/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background-color: white;
  height: 1.8px !important;
  width: 100%;
  border: 1px black solid;
  border-radius: 3px;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: rgb(114, 113, 113);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #282829;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden !important;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Outer container - an element containing everything, including the menu component (required for animation)*/
#outer-container {
  position: relative;
}

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
  .content > h1 {
    font-size: 50px;
    letter-spacing: 0.242em;
    line-height: 80px;
  }

  .content > p {
    font-size: 21px;
    letter-spacing: 0.286em;
    margin-bottom: 30px;
  }
  .primAction {
    line-height: 1.2;
    letter-spacing: 0.098em;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    border: 0.8px #fff solid;
    border-radius: 5px;
    background: none;
    color: white;
    border: 1px #fff solid;
    text-decoration: none;
  }
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  .bm-cross {
    height: 22px !important;
  }

  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }

  /* General sidebar styles */
  .bm-menu {
    background: #282829;
    padding: 3em 1.5em 0;
    font-size: 1.15em;
    overflow: hidden !important;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}
